{{ form_start(formForm) }}
    {{ form_errors(formForm) }}
    <p>&nbsp;</p>

    <!-- PERSONALIA -->
    <div id="personalia" class="row">
        <div class="col-md-12">
        <h3>Personalia</h3>
        <hr>

            <table class="table">
                <tr>
                    <th width="150" style="border: none; background-color: #EEEEEE;">Name:</th>
                    <td width="250" style="border: none;">{{ formData.user.fullname }}</td>
                    <th width="150" style="border: none; background-color: #EEEEEE;">Team:</th>
                    <td width="250" style="border: none;">{{ formData.user.team }}</td>
                </tr>
                <tr>
                    <th style="border: none; background-color: #EEEEEE;">Supervisor:</th>
                    <td style="border: none;">{{ formData.user.supervisor.fullname }}</td>
                    <th style="border: none; background-color: #EEEEEE;">Job Title:</th>
                    <td style="border: none;">{{ formData.user.jobtitle }}</td>
                </tr>
                <tr>
                    <th style="border: none; background-color: #EEEEEE;">Date discussion:</th>
                    <td style="border: none;">
                        {% if (formProgress == 'cdp') %}
                            {{ formData.cdpFeedbackDate|date('d-M-Y') }}
                        {% elseif (formProgress == 'my') %}
                            {{ formData.myFeedbackDate|date('d-M-Y') }}
                        {% elseif (formProgress == 'ye') %}
                            {% if ((userType == 'user') and (formAction == 'edit')) %}
                                {{ form_widget(formForm.yeFeedbackDate) }}
                            {% else %}
                                {{ formData.yeFeedbackDate|date('d-M-Y') }}
                            {% endif %}
                        {% endif %}
                    </td>
                    <th style="border: none; background-color: #EEEEEE;">Status:</th>
                    <td style="border: none;">
                        {% if (formProgress == 'cdp') %}
                            {{ formData.cdpStatus }}
                        {% elseif (formProgress == 'my') %}
                            {{ formData.myStatus }}
                        {% elseif (formProgress == 'ye') %}
                            {{ formData.yeStatus }}
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <!-- CDP FEEDBACK -->
    <div id="cdpFeedback" class="row" style="padding-top: 40px;">
        <!-- CDP FEEDBACK SUPERVISOR -->
        <div id="cdpFeedbackSupervisor">
            <div class="col-md-6">
                <h3>CDP Feedback Supervisor</h3>
                <hr>

                <p>
                    {% if (userType == 'user') %}
                        {% if (formAction == 'view') %}
                            {% if ((formData.cdpStatus.id == '5') or (formData.cdpStatus.id == '6') or (formData.cdpStatus.id == '8')) %}
                                {{ formData.cdpFeedbackSupervisor }}
                            {% else %}
                                <script type="text/javascript">
                                    document.getElementById('cdpFeedbackSupervisor').style.display = 'none';
                                </script>
                            {% endif %}
                        {% elseif (formAction == 'edit') %}
                            {% if (((formData.cdpStatus.id == '2') or (formData.cdpStatus.id == '4') or (formData.cdpStatus.id == '7') or (formData.cdpStatus.id == '8')) and (formData.cdpFeedbackSupervisor != '')) %}
                                {{ formData.cdpFeedbackSupervisor }}
                            {% else %}
                                <script type="text/javascript">
                                    document.getElementById('cdpFeedbackSupervisor').style.display = 'none';
                                </script>
                            {% endif %}
                        {% endif %}
                    {% elseif (userType == 'supervisor') %}
                        {% if ((formAction == 'edit') and (formProgress == 'cdp') and (formData.cdpStatus.id == '3')) %}
                            {{ form_widget(formForm.cdpFeedbackSupervisor) }}
                        {% else %}
                            {{ formData.cdpFeedbackSupervisor }}
                        {% endif %}
                    {% elseif (userType == 'hr') %}
                        {{ formData.cdpFeedbackSupervisor }}
                    {% endif %}
                </p>

            </div>
        </div>


        <!-- CDP FEEDBACK HR -->
        <div id="cdpFeedbackHR">
            <div class="col-md-6">
                <h3>CDP Feedback HR</h3>
                <hr>

                <p>
                    {% if (userType == 'user') %}
                        {% if (formAction == 'view') %}
                            {% if (formData.cdpStatus.id == '8') %}
                                {{ formData.cdpFeedbackHR }}
                            {% else %}
                                <script type="text/javascript">
                                    document.getElementById('cdpFeedbackHR').style.display = 'none';
                                </script>
                            {% endif %}
                        {% elseif (formAction == 'edit') %}
                            {% if (((formData.cdpStatus.id == '2') or (formData.cdpStatus.id == '7') or (formData.cdpStatus.id == '8')) and (formData.cdpFeedbackHR != '')) %}
                                {{ formData.cdpFeedbackHR }}
                            {% else %}
                                <script type="text/javascript">
                                    document.getElementById('cdpFeedbackHR').style.display = 'none';
                                </script>
                            {% endif %}
                        {% endif %}
                    {% elseif (userType == 'supervisor') %}
                        {{ formData.cdpFeedbackHR }}
                    {% elseif (userType == 'hr') %}
                        {% if ((formAction == 'edit') and (formProgress == 'cdp') and ((formData.cdpStatus.id == '5') or (formData.cdpStatus.id == '6'))) %}
                            {{ form_widget(formForm.cdpFeedbackHR) }}
                        {% else %}
                            {{ formData.cdpFeedbackHR }}
                        {% endif %}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>


    <!-- YEAR-END FEEDBACK -->
    <div id="yeFeedback" class="row" style="padding-top: 40px;">
        <!-- YEAR-END FEEDBACK SUPERVISOR -->
        <div id="yeFeedbackSupervisor">
            <div class="col-md-6">
                <h3>Year-End Feedback Supervisor</h3>
                <hr>

                <p>
                    {% if (userType == 'user') %}
                        {% if (formAction == 'view') %}
                            {% if ((formData.yeStatus.id == '5') or (formData.yeStatus.id == '6') or (formData.yeStatus.id == '8')) %}
                                {{ formData.yeFeedbackSupervisor }}
                            {% else %}
                                <script type="text/javascript">
                                    document.getElementById('yeFeedbackSupervisor').style.display = 'none';
                                </script>
                            {% endif %}
                        {% elseif (formAction == 'edit') %}
                            {% if (((formData.yeStatus.id == '2') or (formData.yeStatus.id == '4') or (formData.yeStatus.id == '7')) and (formData.yeFeedbackSupervisor != '')) %}
                                {{ formData.yeFeedbackSupervisor }}
                            {% else %}
                                <script type="text/javascript">
                                    document.getElementById('yeFeedbackSupervisor').style.display = 'none';
                                </script>
                            {% endif %}
                        {% endif %}
                    {% elseif (userType == 'supervisor') %}
                        {% if ((formAction == 'edit') and (formProgress == 'ye') and (formData.yeStatus.id == '3')) %}
                            {{ form_widget(formForm.yeFeedbackSupervisor) }}
                        {% else %}
                            {{ formData.yeFeedbackSupervisor }}
                        {% endif %}
                    {% elseif (userType == 'hr') %}
                        {{ formData.yeFeedbackSupervisor }}
                    {% endif %}
                </p>
            </div>
        </div>


        <!-- YEAR-END FEEDBACK HR -->
        <div id="yeFeedbackHR">
            <div class="col-md-6">
                <h3>Year-End Feedback HR</h3>
                <hr>

                <p>
                    {% if (userType == 'user') %}
                        {% if (formAction == 'view') %}
                            {% if (formData.yeStatus.id == '8') %}
                                {{ formData.yeFeedbackHR }}
                            {% else %}
                                <script type="text/javascript">
                                    document.getElementById('yeFeedbackHR').style.display = 'none';
                                </script>
                            {% endif %}
                        {% elseif (formAction == 'edit') %}
                            {% if (((formData.yeStatus.id == '2') or (formData.yeStatus.id == '7')) and (formData.yeFeedbackHR != '')) %}
                                {{ formData.yeFeedbackHR }}
                            {% else %}
                                <script type="text/javascript">
                                    document.getElementById('yeFeedbackHR').style.display = 'none';
                                </script>
                            {% endif %}
                        {% endif %}
                    {% elseif (userType == 'supervisor') %}
                        {{ formData.yeFeedbackHR }}
                    {% elseif (userType == 'hr') %}
                        {% if ((formAction == 'edit') and (formProgress == 'ye') and ((formData.yeStatus.id == '5') or (formData.yeStatus.id == '6'))) %}
                            {{ form_widget(formForm.yeFeedbackHR) }}
                        {% else %}
                            {{ formData.yeFeedbackHR }}
                        {% endif %}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>

    <!-- SET SOME DEFAULTS -->
    {% set column4or5 = '25%' %}
    {% set column5or6 = '20%' %}
    {% set column6or7 = '16%' %}
    {% set colspan4or5 = '4' %}
    {% set colspan5or6 = '5' %}


    <!-- CHECK SOME PARAMETERS -->
    {% if (formProgress == 'ye') %}
        {% set column4or5 = '20%' %}
        {% set column5or6 = '16%' %}
        {% set column6or7 = '14%' %}
        {% set colspan4or5 = '5' %}
        {% set colspan5or6 = '6' %}

    {% endif %}

    <!-- SELF ASSESSMENT -->
    <div id="selfAssessment" class="row" style="padding-top: 40px;">
        <div class="col-md-12">
            <h3>Self Assessment</h3><br>
            <span style="font-style: italic;">Complete at least three, no more than five items for both strengths and development needs.</span>
            <hr>

            <table class="table">
                <tr>
                    <th width="{{ column6or7 }}" style="border: none; background-color: #EEEEEE;">Talent</th>
                    <th width="{{ column6or7 }}" style="border: none; background-color: #EEEEEE;">Pitfall</th>
                    <th width="{{ column6or7 }}" style="border: none; background-color: #EEEEEE;">Challenge</th>
                    <th width="{{ column6or7 }}" style="border: none; background-color: #EEEEEE;">How</th>
                    <th width="{{ column6or7 }}" style="border: none; background-color: #EEEEEE;">Success</th>
                    <th width="{{ column6or7 }}" style="border: none; background-color: #EEEEEE;">Need</th>
                    {% if (formProgress == 'ye') %}
                            <th width="{{ column6or7 }}" style="border: none; background-color: #80B441;">Year-End Assessment</th>
                    {% endif %}
                </tr>
                    <!-- SELF ASSESSMENT 1 -->
                    {% if (formData.sa1Challenge != null) %}
                        <tr>
                            <td>
                                <strong>{{ formData.sa1CoreQuality.name }}</strong><br><br>
                                {{ formData.sa1CoreQualityDesc }}
                                </td>
                            <td>
                                <strong>{{ formData.sa1Pitfall.name }}</strong><br><br>
                                {{ formData.sa1PitfallDesc }}
                            </td>
                            <td>
                                <strong>{{ formData.sa1Challenge.name }}</strong><br><br>
                                {{ formData.sa1ChallengeDesc }}
                            </td>
                            <td>
                                {{ formData.sa1How }}<br><br>
                            </td>
                            <td>
                                {{ formData.sa1Success }}<br><br>
                            </td>
                            <td>
                                {{ formData.sa1Needs }}<br><br>
                            </td>
                            <td>
                                {% if (formProgress == 'ye') %}
                                    {% if ((userType == 'user') and (formAction == 'edit')) %}
                                        {{ form_widget(formForm.sa1FeedbackYE) }}
                                    {% else %}
                                        {{ formData.sa1FeedbackYE }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}

                    <!-- SELF ASSESSMENT 2 -->
                    {% if (formData.sa2Challenge != null) %}
                        <tr>
                            <td>
                                <strong>{{ formData.sa2CoreQuality.name }}</strong><br><br>
                                {{ formData.sa2CoreQualityDesc }}
                            </td>
                            <td>
                                <strong>{{ formData.sa2Pitfall.name }}</strong><br><br>
                                {{ formData.sa2PitfallDesc }}
                            </td>
                            <td>
                                <strong>{{ formData.sa2Challenge.name }}</strong><br><br>
                                {{ formData.sa2ChallengeDesc }}
                            </td>
                            <td>
                                {{ formData.sa2How }}<br><br>
                            </td>
                            <td>
                                {{ formData.sa2Success }}<br><br>
                            </td>
                            <td>
                                {{ formData.sa2Needs }}<br><br>
                            </td>
                            <td>
                                {% if (formProgress == 'ye') %}
                                    {% if ((userType == 'user') and (formAction == 'edit')) %}
                                        {{ form_widget(formForm.sa2FeedbackYE) }}
                                    {% else %}
                                        {{ formData.sa2FeedbackYE }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}

                    <!-- SELF ASSESSMENT 3 -->
                    {% if (formData.sa3Challenge != null) %}
                        <tr>
                            <td>
                                <strong>{{ formData.sa3CoreQuality.name }}</strong><br><br>
                                {{ formData.sa3CoreQualityDesc }}
                            </td>
                            <td>
                                <strong>{{ formData.sa3Pitfall.name }}</strong><br><br>
                                {{ formData.sa3PitfallDesc }}
                            </td>
                            <td>
                                <strong>{{ formData.sa3Challenge.name }}</strong><br><br>
                                {{ formData.sa3ChallengeDesc }}
                            </td>
                            <td>
                                {{ formData.sa3How }}<br><br>
                            </td>
                            <td>
                                {{ formData.sa3Success }}<br><br>
                            </td>
                            <td>
                                {{ formData.sa3Needs }}<br><br>
                            </td>
                            <td>
                                {% if (formProgress == 'ye') %}
                                    {% if ((userType == 'user') and (formAction == 'edit')) %}
                                        {{ form_widget(formForm.sa3FeedbackYE) }}
                                    {% else %}
                                        {{ formData.sa3FeedbackYE }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}

                    <!-- SELF ASSESSMENT 4 -->
                    {% if (formData.sa4Challenge != null) %}
                        <tr>
                            <td>
                                <strong>{{ formData.sa4CoreQuality.name }}</strong><br><br>
                                {{ formData.sa4CoreQualityDesc }}
                            </td>
                            <td>
                                <strong>{{ formData.sa4Pitfall.name }}</strong><br><br>
                                {{ formData.sa4PitfallDesc }}
                            </td>
                            <td>
                                <strong>{{ formData.sa4Challenge.name }}</strong><br><br>
                                {{ formData.sa4ChallengeDesc }}
                            </td>
                            <td>
                                {{ formData.sa4How }}<br><br>
                            </td>
                            <td>
                                {{ formData.sa4Success }}<br><br>
                            </td>
                            <td>
                                {{ formData.sa4Needs }}<br><br>
                            </td>
                            <td>
                                {% if (formProgress == 'ye') %}
                                    {% if ((userType == 'user') and (formAction == 'edit')) %}
                                        {{ form_widget(formForm.sa4FeedbackYE) }}
                                    {% else %}
                                        {{ formData.sa4FeedbackYE }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}

                    <!-- SELF ASSESSMENT 5 -->
                    {% if (formData.sa5Challenge != null) %}
                        <tr>
                            <td>
                                <strong>{{ formData.sa5CoreQuality.name }}</strong><br><br>
                                {{ formData.sa5CoreQualityDesc }}
                            </td>
                            <td>
                                <strong>{{ formData.sa5Pitfall.name }}</strong><br><br>
                                {{ formData.sa5PitfallDesc }}
                            </td>
                            <td>
                                <strong>{{ formData.sa5Challenge.name }}</strong><br><br>
                                {{ formData.sa5ChallengeDesc }}
                            </td>
                            <td>
                                {{ formData.sa5How }}<br><br>
                            </td>
                            <td>
                                {{ formData.sa5Success }}<br><br>
                            </td>
                            <td>
                                {{ formData.sa5Needs }}<br><br>
                            </td>
                            <td>
                                {% if (formProgress == 'ye') %}
                                    {% if ((userType == 'user') and (formAction == 'edit')) %}
                                        {{ form_widget(formForm.sa5FeedbackYE) }}
                                    {% else %}
                                        {{ formData.sa5FeedbackYE }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
            </table>
        </div>
    </div>


    <!-- DEVELOPMENT NEEDS -->
    <div id="developmentNeeds" class="row" style="padding-top: 40px;">
        <div class="col-md-12">
            <h3>Development Needs for your job</h3><br>
            <span style="font-style: italic;">Read your job description carefully.</span>
            <hr>

            <!-- TASKS AND RESPONSIBILITIES -->
            <table class="table">
                <tr>
                    <th colspan="{{ colspan4or5 }}" style="border: none; background-color: #DDDDDD; text-align: center;">Job Specific Tasks and Responsibilities</th>
                </tr>
                <tr>
                    <th width="{{ column4or5 }}" style="border: none; background-color: #EEEEEE;">What & Why<br><span style="font-weight: normal; font-style: italic; font-size: smaller;">Write down the actions you will take this year to further develop yourself in your job.</span></th>
                    <th width="{{ column4or5 }}" style="border: none; background-color: #EEEEEE;">How<br><span style="font-weight: normal; font-style: italic; font-size: smaller;">How will you do this?</span></th>
                    <th width="{{ column4or5 }}" style="border: none; background-color: #EEEEEE;">Success<br><span style="font-weight: normal; font-style: italic; font-size: smaller;">How will you know if you succeeded?</span></th>
                    <th width="{{ column4or5 }}" style="border: none; background-color: #EEEEEE;">Needs<br><span style="font-weight: normal; font-style: italic; font-size: smaller;">What do you need ( training, knowledge sharing, books, tools, etc.)?</span></th>
                    {% if (formProgress == 'ye') %}
                        <th width="{{ column4or5 }}" style="border: none; background-color: #80B441;">Year-End Assessment</th>
                    {% endif %}

                </tr>
                    <!-- TASKS AND RESPONSIBILITIES 1 -->
                    {% if (formData.tr1WhatWhy != null) %}
                        <tr>
                            <td>
                                {{ formData.tr1WhatWhy }}
                            </td>
                            <td>
                                {{ formData.tr1How }}<br><br>
                            </td>
                            <td>
                                {{ formData.tr1Success }}<br><br>
                            </td>
                            <td>
                                {{ formData.tr1Needs }}<br><br>
                            </td>
                            <td>
                                {% if (formProgress == 'ye') %}
                                    {% if ((userType == 'user') and (formAction == 'edit')) %}
                                        {{ form_widget(formForm.tr1FeedbackYE) }}
                                    {% else %}
                                        {{ formData.tr1FeedbackYE }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}

                    <!-- TASKS AND RESPONSIBILITIES 2 -->
                    {% if (formData.tr2WhatWhy != null) %}
                        <tr>
                            <td>
                                {{ formData.tr2WhatWhy }}
                            </td>
                            <td>
                                {{ formData.tr2How }}<br><br>
                            </td>
                            <td>
                                {{ formData.tr2Success }}<br><br>
                            </td>
                            <td>
                                {{ formData.tr2Needs }}<br><br>
                            </td>
                            <td>
                                {% if (formProgress == 'ye') %}
                                    {% if ((userType == 'user') and (formAction == 'edit')) %}
                                        {{ form_widget(formForm.tr2FeedbackYE) }}
                                    {% else %}
                                        {{ formData.tr2FeedbackYE }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}

                    <!-- TASKS AND RESPONSIBILITIES 3 -->
                    {% if (formData.tr3WhatWhy != null) %}
                        <tr>
                            <td>
                                {{ formData.tr3WhatWhy }}
                            </td>
                            <td>
                                {{ formData.tr3How }}<br><br>
                            </td>
                            <td>
                                {{ formData.tr3Success }}<br><br>
                            </td>
                            <td>
                                {{ formData.tr3Needs }}<br><br>
                            </td>
                            <td>
                                {% if (formProgress == 'ye') %}
                                    {% if ((userType == 'user') and (formAction == 'edit')) %}
                                        {{ form_widget(formForm.tr3FeedbackYE) }}
                                    {% else %}
                                        {{ formData.tr3FeedbackYE }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}

                    <!-- TASKS AND RESPONSIBILITIES 4 -->
                    {% if (formData.tr4WhatWhy != null) %}
                        <tr>
                            <td>
                                {{ formData.tr4WhatWhy }}
                            </td>
                            <td>
                                {{ formData.tr4How }}<br><br>
                            </td>
                            <td>
                                {{ formData.tr4Success }}<br><br>
                            </td>
                            <td>
                                {{ formData.tr4Needs }}<br><br>
                            </td>
                            <td>
                                {% if (formProgress == 'ye') %}
                                    {% if ((userType == 'user') and (formAction == 'edit')) %}
                                        {{ form_widget(formForm.tr4FeedbackYE) }}
                                    {% else %}
                                        {{ formData.tr4FeedbackYE }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}

                    <!-- TASKS AND RESPONSIBILITIES 5 -->
                    {% if (formData.tr5WhatWhy != null) %}
                        <tr>
                            <td>
                                {{ formData.tr5WhatWhy }}
                            </td>
                            <td>
                                {{ formData.tr5How }}<br><br>
                            </td>
                            <td>
                                {{ formData.tr5Success }}<br><br>
                            </td>
                            <td>
                                {{ formData.tr5Needs }}<br><br>
                            </td>
                            <td>
                                {% if (formProgress == 'ye') %}
                                    {% if ((userType == 'user') and (formAction == 'edit')) %}
                                        {{ form_widget(formForm.tr5FeedbackYE) }}
                                    {% else %}
                                        {{ formData.tr5FeedbackYE }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}

            </table>

            <!-- SKILLS AND COMPETENCIES -->
            <table class="table">
                <tr>
                    <th colspan="{{ colspan4or5 }}" style="border: none; background-color: #DDDDDD; text-align: center;">Job Specific Skills and Competencies</th>
                </tr>
                <tr>
                    <th width="{{ column4or5 }}" style="border: none; background-color: #EEEEEE;">What & Why<br><span style="font-weight: normal; font-style: italic; font-size: smaller;">Write down the actions you will take this year to further develop yourself in your job.</span></th>
                    <th width="{{ column4or5 }}" style="border: none; background-color: #EEEEEE;">How<br><span style="font-weight: normal; font-style: italic; font-size: smaller;">How will you do this?</span></th>
                    <th width="{{ column4or5 }}" style="border: none; background-color: #EEEEEE;">Success<br><span style="font-weight: normal; font-style: italic; font-size: smaller;">How will you know if you succeeded?</span></th>
                    <th width="{{ column4or5 }}" style="border: none; background-color: #EEEEEE;">Needs<br><span style="font-weight: normal; font-style: italic; font-size: smaller;">What do you need ( training, knowledge sharing, books, tools, etc.)?</span></th>
                    {% if (formProgress == 'ye') %}
                        <th width="{{ column4or5 }}" style="border: none; background-color: #80B441;">Year-End Assessment</th>
                    {% endif %}

                </tr>
                    <!-- SKILLS AND COMPETENCIES 1 -->
                    {% if (formData.sc1WhatWhy != null) %}
                        <tr>
                            <td>
                                {{ formData.sc1WhatWhy }}
                            </td>
                            <td>
                                {{ formData.sc1How }}<br><br>
                            </td>
                            <td>
                                {{ formData.sc1Success }}<br><br>
                            </td>
                            <td>
                                {{ formData.sc1Needs }}<br><br>
                            </td>
                            <td>
                                {% if (formProgress == 'ye') %}
                                    {% if ((userType == 'user') and (formAction == 'edit')) %}
                                        {{ form_widget(formForm.sc1FeedbackYE) }}
                                    {% else %}
                                        {{ formData.sc1FeedbackYE }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}

                    <!-- SKILLS AND COMPETENCIES 2 -->
                    {% if (formData.sc2WhatWhy != null) %}
                        <tr>
                            <td>
                                {{ formData.sc2WhatWhy }}
                            </td>
                            <td>
                                {{ formData.sc2How }}<br><br>
                            </td>
                            <td>
                                {{ formData.sc2Success }}<br><br>
                            </td>
                            <td>
                                {{ formData.sc2Needs }}<br><br>
                            </td>
                            <td>
                                {% if (formProgress == 'ye') %}
                                    {% if ((userType == 'user') and (formAction == 'edit')) %}
                                        {{ form_widget(formForm.sc2FeedbackYE) }}
                                    {% else %}
                                        {{ formData.sc2FeedbackYE }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}

                    <!-- SKILLS AND COMPETENCIES 3 -->
                    {% if (formData.sc3WhatWhy != null) %}
                        <tr>
                            <td>
                                {{ formData.sc3WhatWhy }}
                            </td>
                            <td>
                                {{ formData.sc3How }}<br><br>
                            </td>
                            <td>
                                {{ formData.sc3Success }}<br><br>
                            </td>
                            <td>
                                {{ formData.sc3Needs }}<br><br>
                            </td>
                            <td>
                                {% if (formProgress == 'ye') %}
                                    {% if ((userType == 'user') and (formAction == 'edit')) %}
                                        {{ form_widget(formForm.sc3FeedbackYE) }}
                                    {% else %}
                                        {{ formData.sc3FeedbackYE }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}

                    <!-- SKILLS AND COMPETENCIES 4 -->
                    {% if (formData.sc4WhatWhy != null) %}
                        <tr>
                            <td>
                                {{ formData.sc4WhatWhy }}
                            </td>
                            <td>
                                {{ formData.sc4How }}<br><br>
                            </td>
                            <td>
                                {{ formData.sc4Success }}<br><br>
                            </td>
                            <td>
                                {{ formData.sc4Needs }}<br><br>
                            </td>
                            <td>
                                {% if (formProgress == 'ye') %}
                                    {% if ((userType == 'user') and (formAction == 'edit')) %}
                                        {{ form_widget(formForm.sc4FeedbackYE) }}
                                    {% else %}
                                        {{ formData.sc4FeedbackYE }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}

                    <!-- SKILLS AND COMPETENCIES 5 -->
                    {% if (formData.sc5WhatWhy != null) %}
                        <tr>
                            <td>
                                {{ formData.sc5WhatWhy }}
                            </td>
                            <td>
                                {{ formData.sc5How }}<br><br>
                            </td>
                            <td>
                                {{ formData.sc5Success }}<br><br>
                            </td>
                            <td>
                                {{ formData.sc5Needs }}<br><br>
                            </td>
                            <td>
                                {% if (formProgress == 'ye') %}
                                    {% if ((userType == 'user') and (formAction == 'edit')) %}
                                        {{ form_widget(formForm.sc5FeedbackYE) }}
                                    {% else %}
                                        {{ formData.sc5FeedbackYE }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
            </table>

            <!-- ORGANIZATION COMPETENCIES -->
            <table class="table">
                <tr>
                    <th colspan="{{ colspan5or6 }}" style="border: none; background-color: #DDDDDD; text-align: center;">Organization Competencies</th>
                </tr>
                <tr>
                    <th width="{{ column5or6 }}" style="border: none; background-color: #EEEEEE;">What & Why<br><span style="font-weight: normal; font-style: italic; font-size: smaller;">Write down the actions you will take this year to further develop yourself in your job.</span></th>
                    <th width="{{ column5or6 }}" style="border: none; background-color: #EEEEEE;"></th>
                    <th width="{{ column5or6 }}" style="border: none; background-color: #EEEEEE;">How<br><span style="font-weight: normal; font-style: italic; font-size: smaller;">How will you do this?</span></th>
                    <th width="{{ column5or6 }}" style="border: none; background-color: #EEEEEE;">Success<br><span style="font-weight: normal; font-style: italic; font-size: smaller;">How will you know if you succeeded?</span></th>
                    <th width="{{ column5or6 }}" style="border: none; background-color: #EEEEEE;">Needs<br><span style="font-weight: normal; font-style: italic; font-size: smaller;">What do you need ( training, knowledge sharing, books, tools, etc.)?</span></th>
                    {% if (formProgress == 'ye') %}
                        <th width="{{ column5or6 }}" style="border: none; background-color: #80B441;">Year-End Assessment</th>
                    {% endif %}
                </tr>
                    <!-- ORGANIZATION COMPETENCIES 1 -->
                    {% if (formData.oc1WhatWhy != null) %}
                        <tr>
                            <td>
                                {{ formData.oc1WhatWhy }}
                            </td>
                            <td>
                                {{ formData.oc1Desc }}
                            </td>
                            <td>
                                {{ formData.oc1How }}<br><br>
                            </td>
                            <td>
                                {{ formData.oc1Success }}<br><br>
                            </td>
                            <td>
                                {{ formData.oc1Needs }}<br><br>
                            </td>
                            <td>
                                {% if (formProgress == 'ye') %}
                                    {% if ((userType == 'user') and (formAction == 'edit')) %}
                                        {{ form_widget(formForm.oc1FeedbackYE) }}
                                    {% else %}
                                        {{ formData.oc1FeedbackYE }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}

                    <!-- ORGANIZATION COMPETENCIES 2 -->
                    {% if (formData.oc2WhatWhy != null) %}
                        <tr>
                            <td>
                                {{ formData.oc2WhatWhy }}
                            </td>
                            <td>
                                {{ formData.oc2Desc }}
                            </td>
                            <td>
                                {{ formData.oc2How }}<br><br>
                            </td>
                            <td>
                                {{ formData.oc2Success }}<br><br>
                            </td>
                            <td>
                                {{ formData.oc2Needs }}<br><br>
                            </td>
                            <td>
                                {% if (formProgress == 'ye') %}
                                    {% if ((userType == 'user') and (formAction == 'edit')) %}
                                        {{ form_widget(formForm.oc2FeedbackYE) }}
                                    {% else %}
                                        {{ formData.oc2FeedbackYE }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}

                    <!-- ORGANIZATION COMPETENCIES 3 -->
                    {% if (formData.oc3WhatWhy != null) %}
                        <tr>
                            <td>
                                {{ formData.oc3WhatWhy }}
                            </td>
                            <td>
                                {{ formData.oc3Desc }}
                            </td>
                            <td>
                                {{ formData.oc3How }}<br><br>
                            </td>
                            <td>
                                {{ formData.oc3Success }}<br><br>
                            </td>
                            <td>
                                {{ formData.oc3Needs }}<br><br>
                            </td>
                            <td>
                                {% if (formProgress == 'ye') %}
                                    {% if ((userType == 'user') and (formAction == 'edit')) %}
                                        {{ form_widget(formForm.oc3FeedbackYE) }}
                                    {% else %}
                                        {{ formData.oc3FeedbackYE }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}

                    <!-- ORGANIZATION COMPETENCIES 4 -->
                    {% if (formData.oc4WhatWhy != null) %}
                        <tr>
                            <td>
                                {{ formData.oc4WhatWhy }}
                            </td>
                            <td>
                                {{ formData.oc4Desc }}
                            </td>
                            <td>
                                {{ formData.oc4How }}<br><br>
                            </td>
                            <td>
                                {{ formData.oc4Success }}<br><br>
                            </td>
                            <td>
                                {{ formData.oc4Needs }}<br><br>
                            </td>
                            <td>
                                {% if (formProgress == 'ye') %}
                                    {% if ((userType == 'user') and (formAction == 'edit')) %}
                                        {{ form_widget(formForm.oc4FeedbackYE) }}
                                    {% else %}
                                        {{ formData.oc4FeedbackYE }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}

                    <!-- ORGANIZATION COMPETENCIES 5 -->
                    {% if (formData.oc5WhatWhy != null) %}
                        <tr>
                            <td>
                                {{ formData.oc5WhatWhy }}
                            </td>
                            <td>
                                {{ formData.oc5Desc }}
                            </td>
                            <td>
                                {{ formData.oc5How }}<br><br>
                            </td>
                            <td>
                                {{ formData.oc5Success }}<br><br>
                            </td>
                            <td>
                                {{ formData.oc5Needs }}<br><br>
                            </td>
                            <td>
                                {% if (formProgress == 'ye') %}
                                    {% if ((userType == 'user') and (formAction == 'edit')) %}
                                        {{ form_widget(formForm.oc5FeedbackYE) }}
                                    {% else %}
                                        {{ formData.oc5FeedbackYE }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
            </table>
        </div>
    </div>


    <!-- OTHER COMMENTS -->
    <div id="otherComments" class="row" style="padding-top: 40px;">
        <!-- CAREER OBJECTIVES -->
        <div id="careerObjectives">
            <div class="col-md-6">
                <h3>Career Objectives / Staffing Considerations</h3>
                <span style="font-style: italic;">Where do you see yourself in three years?</span><br><br><br>
                <hr>

                <p>
                    {{ formData.careerObjectives }}
                </p>
            </div>
        </div>

        <!-- ADDITIONAL INFORMATION -->
        <div id="additionalInformation">
            <div class="col-md-6">
                <h3>Additional Information</h3>
                <span style="font-style: italic;">List any additional information that is relevant to your Career Development Plan (CDP) for the coming year. Such information could include your interest in special assignments, considerations related to work / life balance, etc.</span>
                <hr>

                <p>
                    {{ formData.additionalInfo }}
                </p>
            </div>
        </div>
    </div>


    <!-- FEEDBACK FOR ORGANIZATION -->
    {% if (formProgress == 'ye') %}
        <div id="feedbackForOrganization" class="row" style="padding-top: 40px;">
            <div class="col-md-12">
                <h3>Feedback for Move Intermodal</h3>
                <hr>

                <table class="table">
                    {% if ((userType == 'user') or (userType == 'hr')) %}
                        <tr><th style="border: none; background-color: #EEEEEE;">Share strengths and development needs for your supervisor from your point of view.</th></tr>
                        <tr><td style="border: none; padding-bottom: 30px;">
                                {% if ((userType == 'user') and (formAction == 'edit')) %}
                                    {{ form_widget(formForm.yeQ1) }}
                                {% elseif (userType == 'hr') %}
                                    {{ formData.yeQ1 }}
                                {% endif %}
                            </td></tr>
                    {% endif %}

                    <tr><th style="border: none; background-color: #EEEEEE;">Share your ideas, working areas for your team.</th></tr>
                    <tr><td style="border: none; padding-bottom: 30px;">
                            {% if ((userType == 'user') and (formAction == 'edit')) %}
                                {{ form_widget(formForm.yeQ2) }}
                            {% else %}
                                {{ formData.yeQ2 }}
                            {% endif %}
                        </td></tr>

                    <tr><th style="border: none; background-color: #EEEEEE;">Share your ideas, working areas for the other teams.</th></tr>
                    <tr><td style="border: none; padding-bottom: 30px;">
                            {% if ((userType == 'user') and (formAction == 'edit')) %}
                                {{ form_widget(formForm.yeQ3) }}
                            {% else %}
                                {{ formData.yeQ3 }}
                            {% endif %}
                        </td></tr>

                    <tr><th style="border: none; background-color: #EEEEEE;">Share feedback for Move Intermodal in terms of working environment, health and safety, available tools and gear, etc.</th></tr>
                    <tr><td style="border: none;">
                            {% if ((userType == 'user') and (formAction == 'edit')) %}
                                {{ form_widget(formForm.yeQ4) }}
                            {% else %}
                                {{ formData.yeQ4 }}
                            {% endif %}
                        </td></tr>
                </table>
            </div>
        </div>
    {% endif %}

    <!-- YEAR-END RATING -->
    {% if ((formProgress == 'ye') and ((userType == 'supervisor') or (userType == 'hr'))) %}
        <!-- YEAR-END RATING -->
        <div id="yeRating" class="row" style="padding-top: 40px;">
                <div class="col-md-6">
                    <h3>Year-End Rating</h3>
                    <span style="font-style: italic;">Select the Year-End rating for this employee</span>
                    <hr>

                    <p>
                        {% if (formAction == 'view') %}
                            {{ formData.yeRating }}
                        {% else %}
                            {{ form_widget(formForm.yeRating) }}
                        {% endif %}
                    </p>
                </div>
        </div>
    {% endif %}

    <div class="row" style="padding-top: 40px;"></div>

{% if (formAction == 'edit') %}
    {% if (userType == 'user') %}
        {{ form_widget(formForm.btnSendToSupervisor, {'attr': {'class': 'btn btn-primary'}}) }}<br><br>
        {{ form_widget(formForm.btnSave, {'attr': {'class': 'btn btn-primary'}}) }}
        &nbsp;&nbsp;<a href="{{ app.request.headers.get('referer') }}">Cancel</a>
    {% elseif (userType == 'supervisor') %}
        {{ form_widget(formForm.btnSendToHR, {'attr': {'class': 'btn btn-primary'}}) }}
        &nbsp;&nbsp;{{ form_widget(formForm.btnSendBackToEmployee, {'attr': {'class': 'btn btn-primary'}}) }}<br><br>
        {{ form_widget(formForm.btnSave, {'attr': {'class': 'btn btn-primary'}}) }}
        &nbsp;&nbsp;<a href="{{ app.request.headers.get('referer') }}">Cancel</a>
    {% elseif (userType == 'hr') %}
        {{ form_widget(formForm.btnCompleted, {'attr': {'class': 'btn btn-primary'}}) }}
        &nbsp;&nbsp;{{ form_widget(formForm.btnSendBackToEmployee, {'attr': {'class': 'btn btn-primary'}}) }}<br><br>
        {{ form_widget(formForm.btnSave, {'attr': {'class': 'btn btn-primary'}}) }}
        &nbsp;&nbsp;{{ form_widget(formForm.btnOnHold, {'attr': {'class': 'btn btn-primary'}}) }}
        &nbsp;&nbsp;<a href="{{ app.request.headers.get('referer') }}">Cancel</a>

    {% endif %}
{% else %}
    <br><br>
    <a href="{{ app.request.headers.get('referer') }}"><span class="fa fa-arrow-circle-left"></span> Return to previous page</a>
{% endif %}

{{ form_end(formForm) }}