{# app/Resources/views/Emails/form_sendToSupervisor.html.twig #}
Hi {{ toName }},<br><br>

{{ actionName }} changed the status of the {{ formProgress }} form to <strong>{{ formStatus }}</strong>.<br>
Click <a href="{{ formURL }}">here</a> to access it directly.<br><br>

Kind regards,<br>
TalentBooster<br><br>

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('images/emails/logo-intopeople-baseline-emailsig.png')) }}">