{# app/Resources/views/Emails/user_create.html.twig #}
Hi {{ name }},<br><br>

Your password for TalentBooster has been reset.<br><br>

{# example, assuming you have a route named "login" #}
To login, use following information:
<ul>
	<li>Click this link: <a href="{{ url('security_login') }}"><strong>{{ url('security_login') }}</strong></a>
    <li>E-mail: <strong>{{ email }}</strong></li>
    <li>Temporary password: <strong>{{ password }}</strong></li>
</ul>

Please change your password immediately after login!<br><br>

Kind regards,<br>
TalentBooster<br><br>

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('images/emails/logo-intopeople-baseline-emailsig.png')) }}">