{% extends 'base.html.twig' %}

{% block title %}Users overview{% endblock %}

{% block body %}
    <div class="pull-right" style="margin-bottom: 10px; margin-top: 20px; margin-right: 20px;">
        <a href="{{ path('user_create') }}" class="btn btn-primary pull-right"><span class="fa fa-user-plus"></span> Create user</a>
    </div>

    <h1>Users overview</h1>
    <a href="{{ app.request.headers.get('referer') }}"><span class="fa fa-arrow-circle-left"></span> Return to previous page</a><br><br><br><br>

    <table class="table table-hover">
        <thead>
            <tr>
                <th style="background-color: #EEEEEE; border: none; border-left: thin; border-left-style: dotted; border-left-color: #FFFFFF; width: 150px;">First Name</th>
                <th style="background-color: #EEEEEE; border: none; border-left: thin; border-left-style: dotted; border-left-color: #FFFFFF; width: 150px;">Last Name</th>
                <th style="background-color: #EEEEEE; border: none; border-left: thin; border-left-style: dotted; border-left-color: #FFFFFF; width: 150px;">Supervisor</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        <a href="{{ path('user_edit', {'id': user.id}) }}">
                            {{ user.firstname }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('user_edit', {'id': user.id}) }}">
                            {{ user.lastname }}
                        </a>
                    </td>
                    <td>
                        {% if (user.supervisor) %}
                            {% if (user.supervisor == user) %}
                                -
                            {% else %}
                                {{ user.supervisor.firstname }} {{ user.supervisor.lastname }}
                            {% endif %}
                        {% else %}
                            No Supervisor selected
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
