{% extends 'base.html.twig' %}

{% block title %}Cycles overview{% endblock %}

{% block body %}
    <div class="pull-right" style="margin-bottom: 10px; margin-top: 20px; margin-right: 20px;">
        <a href="{{ path('cycle_create') }}" class="btn btn-primary pull-right"><span class="fa fa-plus"></span> Create cycle</a>
    </div>

    <h1>Cycles overview</h1>
    <a href="{{ app.request.headers.get('referer') }}"><span class="fa fa-arrow-circle-left"></span> Return to previous page</a><br><br><br><br>

    <table class="table table-hover">
        <thead>
        <tr>
            <th style="background-color: #EEEEEE; border: none; border-left: thin; border-left-style: dotted; border-left-color: #FFFFFF; width: 150px;">Cycle Name</th>
            <th colspan="2" style="background-color: #EEEEEE; border: none; border-left: thin; border-left-style: dotted; border-left-color: #FFFFFF; width: 150px;">CDP</th>
            <th colspan="2" style="background-color: #EEEEEE; border: none; border-left: thin; border-left-style: dotted; border-left-color: #FFFFFF; width: 150px;">Mid-Year</th>
            <th colspan="2" style="background-color: #EEEEEE; border: none; border-left: thin; border-left-style: dotted; border-left-color: #FFFFFF; width: 150px;">Year-End</th>
        </tr>
        <tr>
            <th style="background-color: #EEEEEE; border: none; border-left: thin; border-left-style: dotted; border-left-color: #FFFFFF; width: 150px;"></th>
            <th style="background-color: #EEEEEE; border: none; border-left: thin; border-left-style: dotted; border-left-color: #FFFFFF; width: 150px;">Start Date</th>
            <th style="background-color: #EEEEEE; border: none; border-left: thin; border-left-style: dotted; border-left-color: #FFFFFF; width: 150px;">End Date</th>
            <th style="background-color: #EEEEEE; border: none; border-left: thin; border-left-style: dotted; border-left-color: #FFFFFF; width: 150px;">Start Date</th>
            <th style="background-color: #EEEEEE; border: none; border-left: thin; border-left-style: dotted; border-left-color: #FFFFFF; width: 150px;">End Date</th>
            <th style="background-color: #EEEEEE; border: none; border-left: thin; border-left-style: dotted; border-left-color: #FFFFFF; width: 150px;">Start Date</th>
            <th style="background-color: #EEEEEE; border: none; border-left: thin; border-left-style: dotted; border-left-color: #FFFFFF; width: 150px;">End Date</th>
        </tr>
        </thead>
        <tbody>
        {% for cycle in cycles %}
            <tr>
                <td>
                    <a href="{{ path('cycle_edit', {'id': cycle.id}) }}">
                        {{ cycle.name }}
                    </a>
                </td>
                <td>{{ cycle.cdpDateStart|date('d-M-Y') }}</td>
                <td>{{ cycle.cdpDateEnd|date('d-M-Y') }}</td>
                <td>
                    {% if (cycle.myDateStart == null) %}
                        -
                    {% else %}
                        {{ cycle.myDateStart|date('d-M-Y') }}
                    {% endif %}
                </td>
                <td>
                    {% if (cycle.myDateEnd == null) %}
                        -
                    {% else %}
                        {{ cycle.myDateEnd|date('d-M-Y') }}
                    {% endif %}
                </td>
                <td>{{ cycle.yeDateStart|date('d-M-Y') }}</td>
                <td>{{ cycle.yeDateEnd|date('d-M-Y') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
