{% extends 'base.html.twig' %}

{% block title %}My Team{% endblock %}

{% block body %}
    <!--h1>My Team ({{ pagination.getTotalItemCount }} Employees in total)</h1-->
    <h1>My Team</h1>
    <a href="{{ path('dashboard_start') }}"><span class="fa fa-arrow-circle-left"></span> Return to dashboard</a><br><br>

    {% for cycle in cycles %}
        {% set i = ((pagination.currentPageNumber-1)*10) %}
        <table class="table table-hover">
        <thead>
            <tr>
                <th style="border: 0;"><h2>{{ cycle.name }}</h2></th>
            </tr>
            <tr>
                <th style="background-color: #EEEEEE; border: none; width: 200px;">{{ knp_pagination_sortable(pagination, 'Employee', 'user.firstname') }}</th>
                <th style="background-color: #EEEEEE; border: none; width: 200px;">{{ knp_pagination_sortable(pagination, 'Team', 'user.team') }}</th>
                <th colspan="2" style="background-color: #EEEEEE; border: none; border-left: thin; border-left-style: dotted; border-left-color: #FFFFFF;">CDP</th>
                <th colspan="2" style="background-color: #EEEEEE; border: none; border-left: thin; border-left-style: dotted; border-left-color: #FFFFFF;">Mid-Year</th>
                <th colspan="2" style="background-color: #EEEEEE; border: none; border-left: thin; border-left-style: dotted; border-left-color: #FFFFFF;">Year-End</th>
            </tr>
            <tr>
                <th style="background-color: #EEEEEE; border: none;"></th>
                <th style="background-color: #EEEEEE; border: none;"></th>
                <th style="background-color: #EEEEEE; border: none; border-left: thin; border-left-style: dotted; border-left-color: #FFFFFF; width: 150px;">Status</th>
                <th style="background-color: #EEEEEE; border: none; border-left: thin; border-left-style: dotted; border-left-color: #FFFFFF; width: 150px;">Action</th>
                <th style="background-color: #EEEEEE; border: none; border-left: thin; border-left-style: dotted; border-left-color: #FFFFFF; width: 150px;">Status</th>
                <th style="background-color: #EEEEEE; border: none; border-left: thin; border-left-style: dotted; border-left-color: #FFFFFF; width: 150px;">Action</th>
                <th style="background-color: #EEEEEE; border: none; border-left: thin; border-left-style: dotted; border-left-color: #FFFFFF; width: 150px;">Status</th>
                <th style="background-color: #EEEEEE; border: none; border-left: thin; border-left-style: dotted; border-left-color: #FFFFFF; width: 150px;">Action</th>
            </tr>
        </thead>
        <tbody>

        {% for user in pagination %}
            {% set i =  i+1 %}
            {% set currentRecord = null %}
            {% set cdpStatus = null %}
            {% set myStatus = null %}
            {% set yeStatus = null %}

            <!-- SEARCH FOR MATCH BETWEEN SUPERVISOR EMPLOYEE'S AND EXISTING EMPLOYEES FORMS -->
            {% for form in forms %}
                {% if (form|length != 0) %}
                    {% for record in form %}
                        {% if (record.cycle.id == cycle.id) %}
                            {% if user == record.user %}
                                {% set currentRecord = record %}
                                {% set cdpStatus = record.formCdp.cdpStatus %}
                                {% if (record.formMy != null) %}
                                    {% set myStatus = record.formMy.myStatus %}
                                {% endif %}
                                {% if (record.formYe != null) %}
                                    {% set yeStatus = record.formYe.yeStatus %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}

            <!-- DISPLAY RESULTS -->
            <tr>
                <td>{{ i }}. {{ user.fullname }}</td>
                <td>{{ user.team }}</td>

                    <!-- CDP -->
                    {% if (cdpStatus != null) %}
                        <td style="border-left: thin; border-left-style: dotted; border-left-color: #DDDDDD;">{{ cdpStatus }}</td>
                        <td>
                            {% if (cdpStatus.id == 3) %}
                                <a href="{{ path('cdp_edit', {'id': currentRecord.id}) }}" class="btn btn-primary" style="width: 90px;"><span class="fa fa-edit"></span> Edit</a>
                                <a href="{{ path('pdf_cdp', {'id': currentRecord.id}) }}" class="btn btn-action"><span class="fa fa-download"></span> Export PDF</a>
                            {% elseif (cdpStatus.id == 4) or (cdpStatus.id == 5) or (cdpStatus.id == 6) or (cdpStatus.id == 7) or (cdpStatus.id == 8) %}
                                <a href="{{ path('cdp_view', {'id': currentRecord.id}) }}" class="btn btn-primary" style="width: 90px;"><span class="fa fa-angle-double-right"></span> View</a>
                                <a href="{{ path('pdf_cdp', {'id': currentRecord.id}) }}" class="btn btn-action"><span class="fa fa-download"></span> Export PDF</a>
                            {% else %}
                                <span class="btn btn-primary" style="width: 90px;" disabled="disabled">No action</span>
                            {% endif %}
                        </td>
                    {% else %}
                        <td style="border-left: thin; border-left-style: dotted; border-left-color: #DDDDDD;">Not yet started</td>
                        <td><span class="btn btn-primary" style="width: 90px;" disabled="disabled">No action</span></td>
                    {% endif %}

                    <!-- MY -->
                    {% if (myStatus != null) %}
                        <td style="border-left: thin; border-left-style: dotted; border-left-color: #DDDDDD;">{{ myStatus }}</td>
                        <td>
                            {% if (myStatus.id == 3) %}
                                <a href="{{ path('my_edit', {'id': currentRecord.id}) }}" class="btn btn-primary"><span class="fa fa-edit"></span> Edit</a>
                                <a href="{{ path('pdf_my', {'id': currentRecord.id}) }}" class="btn btn-action"><span class="fa fa-download"></span> Export PDF</a>
                            {% elseif (myStatus.id == 4) or (myStatus.id == 5) or (myStatus.id == 6) or (myStatus.id == 7) or (myStatus.id == 8) %}
                                <a href="{{ path('my_view', {'id': currentRecord.id}) }}" class="btn btn-primary"><span class="fa fa-angle-double-right"></span> View</a>
                                <a href="{{ path('pdf_my', {'id': currentRecord.id}) }}" class="btn btn-action"><span class="fa fa-download"></span> Export PDF</a>
                            {% else %}
                                <span class="btn btn-primary" style="width: 90px;" disabled="disabled">No action</span>
                            {% endif %}
                        </td>
                    {% else %}
                        <td style="border-left: thin; border-left-style: dotted; border-left-color: #DDDDDD;">Not yet started</td>
                        <td><span class="btn btn-primary" style="width: 90px;" disabled="disabled">No action</span></td>
                    {% endif %}

                    <!-- YE -->
                    {% if (yeStatus != null) %}
                        <td style="border-left: thin; border-left-style: dotted; border-left-color: #DDDDDD;">{{ yeStatus }}</td>
                        <td>
                            {% if (yeStatus.id == 3) %}
                                <a href="{{ path('ye_edit', {'id': currentRecord.id}) }}" class="btn btn-primary"><span class="fa fa-edit"></span> Edit</a>
                                <a href="{{ path('pdf_ye', {'id': currentRecord.id}) }}" class="btn btn-action"><span class="fa fa-download"></span> Export PDF</a>
                            {% elseif (yeStatus.id == 4) or (yeStatus.id == 5) or (yeStatus.id == 6) or (yeStatus.id == 7) or (yeStatus.id == 8) %}
                                <a href="{{ path('ye_view', {'id': currentRecord.id}) }}" class="btn btn-primary"><span class="fa fa-angle-double-right"></span> View</a>
                                <a href="{{ path('pdf_ye', {'id': currentRecord.id}) }}" class="btn btn-action"><span class="fa fa-download"></span> Export PDF</a>
                            {% else %}
                                <span class="btn btn-primary" style="width: 90px;" disabled="disabled">No action</span>
                            {% endif %}
                        </td>
                    {% else %}
                        <td style="border-left: thin; border-left-style: dotted; border-left-color: #DDDDDD;">Not yet started</td>
                        <td><span class="btn btn-primary" style="width: 90px;" disabled="disabled">No action</span></td>
                    {% endif %}

            </tr>

        {% endfor %}

        </tbody>
        </table>
        <div class="navigation" style="text-align: center;">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endfor %}
{% endblock %}
