{% extends 'base.html.twig' %}

{% block title %}My Career{% endblock %}

{% block body %}
    <h1>My Career</h1>
    <a href="{{ app.request.headers.get('referer') }}"><span class="fa fa-arrow-circle-left"></span> Return to previous page</a><br><br>

    <!-- CYCLES WITH FORMS AVAILABLE YET -->
    <table class="table table-hover">
    {% for form in forms %}
            <thead>
            <tr>
                <th style="border: 0;"><h2>{{ form.cycle.name }}</h2></th>
            </tr>
            <tr>
                <th style="background-color: #EEEEEE; border: none; border-left: thin; border-left-style: dotted; border-left-color: #FFFFFF; width: 150px;">Form</th>
                <th style="background-color: #EEEEEE; border: none; border-left: thin; border-left-style: dotted; border-left-color: #FFFFFF; width: 150px;">Dates</th>
                <th style="background-color: #EEEEEE; border: none; border-left: thin; border-left-style: dotted; border-left-color: #FFFFFF; width: 150px;">Status</th>
                <th style="background-color: #EEEEEE; border: none; border-left: thin; border-left-style: dotted; border-left-color: #FFFFFF; width: 150px;">Action</th>
            </tr>
            </thead>
            <tbody>

            <!-- CDP -->
            <tr>
                <td>CDP</td>
                <td>{{ form.cycle.cdpDateStart|date('d-M-Y') }} until {{ form.cycle.cdpDateEnd|date('d-M-Y') }}</td>
                {% if form.formCdp != null %}
                    <td>{{ form.formCdp.cdpStatus }}</td>
                    <td>
                        {% if (form.formCdp.cdpStatus.id == 1) or (form.formCdp.cdpStatus.id == 2) or (form.formCdp.cdpStatus.id == 4) or (form.formCdp.cdpStatus.id == 7) %}
                            <a href="{{ path('cdp_edit', {'id': form.id}) }}" class="btn btn-primary"><span class="fa fa-edit"></span> Edit</a>
                            <a href="{{ path('pdf_cdp', {'id': form.id}) }}" class="btn btn-action"><span class="fa fa-download"></span> Export PDF</a>
                        {% elseif (form.formCdp.cdpStatus.id == 3) or (form.formCdp.cdpStatus.id == 5) or (form.formCdp.cdpStatus.id == 6) or (form.formCdp.cdpStatus.id == 8) %}
                            <a href="{{ path('cdp_view', {'id': form.id}) }}" class="btn btn-primary"><span class="fa fa-angle-double-right"></span> View</a>
                            <a href="{{ path('pdf_cdp', {'id': form.id}) }}" class="btn btn-action"><span class="fa fa-download"></span> Export PDF</a>
                        {% else %}
                            <span class="btn btn-primary" disabled="disabled">No action</span>
                        {% endif %}
                    </td>
                {% else %}
                    {% if ((form.cycle.cdpDateStart|date('Y-m-d') < "now"|date('Y-m-d')) and (form.cycle.cdpDateEnd|date('Y-m-d') > "now"|date('Y-m-d'))) %}
                        <td>Available</td>
                        <td><a href="{{ path('cdp_create', {'id': form.id}) }}" class="btn btn-primary"><span class="fa fa-edit"></span> Create</a></td>
                    {% else %}
                        <td>Not available</td>
                        <td><span class="btn btn-primary" disabled="disabled">No action</span></td>
                    {% endif %}
                {% endif %}
            </tr>

            <!-- Mid-Year -->
            {% if (form.cycle.myDateStart != null) %}
                <tr>
                    <td>Mid-Year</td>
                    <td>{{ form.cycle.myDateStart|date('d-M-Y') }} until {{ form.cycle.myDateEnd|date('d-M-Y') }}</td>
                    <td>{{ form.formMy.myStatus }}</td>
                    <!-- AVAILABLE -->          {{ (form.formMy.myStatus.id == 1) ? '<td><a href="#" class="btn btn-primary"><span class="fa fa-edit"></span> Edit</a></td>' : '<td>&nbsp;</td>' }}
                    <!-- NOT YET AVAILABLE -->  {{ (form.formMy.myStatus.id == 9) ? '<td>&nbsp;' : '<td>&nbsp;</td>' }}
                </tr>
            {% endif %}

            <!-- Year-End -->
            <tr>
                <td>Year-End</td>
                <td>{{ form.cycle.yeDateStart|date('d-M-Y') }} until {{ form.cycle.yeDateEnd|date('d-M-Y') }}</td>
                {% if form.formYe != null %}
                    <td>{{ form.formYe.yeStatus }}</td>
                    <td>
                        {% if (form.formYe.yeStatus.id == 1) or (form.formYe.yeStatus.id == 2) or (form.formYe.yeStatus.id == 4) or (form.formYe.yeStatus.id == 7) %}
                            <a href="{{ path('ye_edit', {'id': form.id}) }}" class="btn btn-primary"><span class="fa fa-edit"></span> Edit</a>
                            <a href="{{ path('pdf_ye', {'id': form.id}) }}" class="btn btn-action"><span class="fa fa-download"></span> Export PDF</a>
                        {% elseif (form.formYe.yeStatus.id == 3) or (form.formYe.yeStatus.id == 5) or (form.formYe.yeStatus.id == 6) or (form.formYe.yeStatus.id == 8) %}
                            <a href="{{ path('ye_view', {'id': form.id}) }}" class="btn btn-primary"><span class="fa fa-angle-double-right"></span> View</a>
                            <a href="{{ path('pdf_ye', {'id': form.id}) }}" class="btn btn-action"><span class="fa fa-download"></span> Export PDF</a>
                        {% else %}
                            <span class="btn btn-primary" disabled="disabled">No action</span>
                        {% endif %}
                    </td>
                {% else %}
                    {% if ((form.cycle.yeDateStart|date('Y-m-d') < "now"|date('Y-m-d')) and (form.cycle.yeDateEnd|date('Y-m-d') > "now"|date('Y-m-d'))) %}
                        <td>Available</td>
                        <td><a href="{{ path('ye_create', {'id': form.id}) }}" class="btn btn-primary"><span class="fa fa-edit"></span> Create</a></td>
                    {% else %}
                        <td>Not available</td>
                        <td><span class="btn btn-primary" disabled="disabled">No action</span></td>
                    {% endif %}
                {% endif %}
            </tr>
            </tbody>
    {% endfor %}
    </table>
{% endblock %}
