{% extends 'base.html.twig' %}

{% block title %}Cycles overview{% endblock %}

{% block body %}
    <div class="pull-right" style="margin-bottom: 10px; margin-top: 20px; margin-right: 20px;">
        <a href="{{ path('cycle_create') }}" class="btn btn-primary pull-right"><span class="fa fa-plus"></span> Create cycle</a>
    </div>

    <h1>Cycles overview</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="vertical-align: middle;">Cycle Name</th>
            <th colspan="2" style="text-align: center;">CDP</th>
            <th colspan="2" style="text-align: center;">Mid-Year</th>
            <th colspan="2" style="text-align: center;">Year-End</th>
        </tr>
        <tr>
            <th></th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        </thead>
        <tbody>
        {% for cycle in cycles %}
            <tr>
                <td>
                    <a href="{{ path('cycle_edit', {'id': cycle.id}) }}">
                        {{ cycle.name }}
                    </a>
                </td>
                <td>{{ cycle.cdpDateStart|date('d-M-Y') }}</td>
                <td>{{ cycle.cdpDateEnd|date('d-M-Y') }}</td>
                <td>
                    {% if (cycle.myDateStart == null) %}
                        -
                    {% else %}
                        {{ cycle.myDateStart|date('d-M-Y') }}
                    {% endif %}
                </td>
                <td>
                    {% if (cycle.myDateEnd == null) %}
                        -
                    {% else %}
                        {{ cycle.myDateEnd|date('d-M-Y') }}
                    {% endif %}
                </td>
                <td>{{ cycle.yeDateStart|date('d-M-Y') }}</td>
                <td>{{ cycle.yeDateEnd|date('d-M-Y') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
