{% extends 'base.html.twig' %}

{% block title %}Start here{% endblock %}

{% block body %}
    <!--h1>Start here</h1-->
    <div class="row" style="text-align: center; padding-top: 40px;">
        <!-- USER -->
        {% if ('ROLE_USER' in userType) %}
            <a href="{{ path('dashboard_employee') }}" class="btn btn-success" style="height: 150px; width: 150px; padding-top: 30px;">
                <h4><span class="fa fa-user"></span><br><br>My Career</></h4>
            </a>
        {% endif %}

        <!-- SUPERVISOR -->
        {% if ('ROLE_SUPERVISOR' in userType) %}
            <a href="{{ path('dashboard_supervisor') }}" class="btn btn-success" style="height: 150px; width: 150px; padding-top: 30px;">
                <h4><span class="fa fa-users"></span><br><br>My Team</></h4>
            </a>
        {% endif %}

        <!-- HR -->
        {% if ('ROLE_HR' in userType) %}
            <a href="{{ path('dashboard_hr') }}" class="btn btn-success" style="height: 150px; width: 150px; padding-top: 30px; padding-left: 7px;">
                <h4><span class="fa fa-users"></span><br><br>My Organisation</></h4>
            </a>

            <a href="{{ path('user_list') }}" class="btn btn-primary" style="height: 150px; width: 150px; padding-top: 30px;">
                <h4><span class="fa fa-user-plus"></span><br><br>Manage Users</></h4>
            </a>
        {% endif %}

        <a href="{{ path('user_list') }}" class="btn btn-primary" style="height: 150px; width: 150px; padding-top: 20px;">
            <h4><span class="fa fa-lock"></span><br><br>Change<br>Password</></h4>
        </a>

    </div>
{% endblock %}
