{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Login</h1>

                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                <!--div class="alert alert-warning">
                    TalentBooster will not be available due to an update on Tuesday 29/11 between 12:00 and 14:00.<br>
                    You will be able to login, but changes made to your Year-End may be lost. Please wait until after 14:00 to login again.<br>
                    When the update is completely finished, this message will be removed.<br><br>
                    Thanks for your understanding.
                </div-->

                <!--div class="alert alert-info">
                    Users may experience problems logging into their account, using the initial password they've received last week.<br>
                    To solve this, please reset your password, using the <a href="{{ path('security_resetpassword') }}">Forgot password?</a> link below.<br><br>
                    When the issue persists, please contact <a href="mailto:support@talentbooster.io">support@talentbooster.io</a>.
                </div-->

                <p>&nbsp;</p>
                {{ form_start(form) }}

                    {{ form_row(form._username, {
                        'label': 'E-mail address'
                    }) }}
                    {{ form_row(form._password) }}

                <button type="submit" class="btn btn-success"><span class="fa fa-lock"> Login</span></button>
                &nbsp;&nbsp;<a href="{{ path('security_resetpassword') }}">Forgot password?</a>
                &nbsp;
                {{ form_end(form) }}

            </div>
        </div>
    </div>

{%  endblock %}